<div class="meet-our-staff">
  <h2>All Services</h2>
  <ul>
    <li><a href="/composite-resin-fillings">Composite (Resin) Fillings</a></li>
    <li><a href="/cosmetic-bonding">Cosmetic Bonding</a></li>
    <li><a href="/dental-bridges">Dental Bridges</a></li>
    <li><a href="/dental-crowns">Dental Crowns</a></li>
    <li><a href="/dental-implants">Dental Implants</a></li>
    <li><a href="/dental-sealants">Dental Sealants</a></li>
    <li><a href="/dentures-and-partials">Dentures and Partials</a></li>
    <li><a href="/full-mouth-reconstruction">Full Mouth Reconstruction</a></li>
    <li><a href="/hygiene-cleanings">Hygiene / Cleanings</a></li>
    <li><a href="/laser-gum-reshaping">Laser Gum Reshaping</a></li>
    <li><a href="/latest-technology">Latest Technology</a></li>
    <li><a href="/obstructive-sleep-apnea">Obstructive Sleep Apnea</a></li>
    <li><a href="/oral-cancer-screening">Oral Cancer Screening</a></li>
    <li><a href="/orthodontics-invisalign">Orthodontics (Invisalign)</a></li>
    <li><a href="/porcelain-veneers">Porcelain Veneers</a></li>
    <li><a href="/root-canal-treatment">Root Canal Treatment</a></li>
    <li><a href="/teeth-whitening">Teeth Whitening</a></li>
  </ul>
  <div class="clearfix"></div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row">
      <div class="col-sm-1 hidden-xs">
        <div class="slideshow-arrow arrow-left">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="slideshow-images">
          <img class="active" alt="" data-index="1" src="/wp-content/themes/multipurpose-blog/images/tour/villagegreen-1.png" />
          <img alt="" data-index="2" src="/wp-content/themes/multipurpose-blog/images/tour/villagegreen-2.png" />
        </div>
      </div>
      <div class="col-sm-1 hidden-xs">
        <div class="slideshow-arrow arrow-right">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row visible-xs">
    <div class="col-xs-2">
      <div class="slideshow-arrow arrow-left">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-xs-8"></div>
    <div class="col-xs-2">
      <div class="slideshow-arrow arrow-right">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row">
      <div class="col-sm-1 hidden-xs">
        <div class="slideshow-arrow top-arrow arrow-left">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="slideshow-images slideshow-start">
          <img style="display: block;" class="active" alt="" data-index="1" src="/wp-content/themes/multipurpose-blog/images/tour/villagegreen-1.png" />
          <img alt="" data-index="2" src="/wp-content/themes/multipurpose-blog/images/tour/villagegreen-2.png" />
          <img alt="" data-index="3" src="/wp-content/themes/multipurpose-blog/images/tour/villagegreen-3.png" />
          <img alt="" data-index="4" src="/wp-content/themes/multipurpose-blog/images/tour/villagegreen-4.png" />
          <img alt="" data-index="5" src="/wp-content/themes/multipurpose-blog/images/tour/villagegreen-5.png" />
          <img alt="" data-index="6" src="/wp-content/themes/multipurpose-blog/images/tour/villagegreen-6.png" />
          <img alt="" data-index="7" src="/wp-content/themes/multipurpose-blog/images/tour/villagegreen-7.png" />
        </div>
      </div>
      <div class="col-sm-1 hidden-xs">
        <div class="slideshow-arrow top-arrow arrow-right">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row visible-xs">
    <div class="col-xs-3">
      <div class="slideshow-arrow arrow-left">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-xs-6"></div>
    <div class="col-xs-3">
      <div class="slideshow-arrow arrow-right">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>


<div class="row no-gutter">
  <div class="col-sm-5">
    <img class="contact-us-img" title="Village Green Dentistry Office" alt="Village Green Dentistry Office" src="/wp-content/themes/multipurpose-blog/images/contact-us-1.png">
  </div>
  <div class="col-sm-7">
    <table class="contact-us">
      <thead>
        <tr>
          <th>Lincolnshire Dental Office</th>
          <th>Office Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Village Green Dentistry</td>
          <td>Monday 8-5</td>
        </tr>
        <tr>
          <td>300 Village Green Dr, Suite 150</td>
          <td>Tuesday 9-5</td>
        </tr>
        <tr>
          <td>Lincolnshire, IL 60069</td>
          <td>Wednesday Closed</td>
        </tr>
        <tr>
          <td>Phone: <a href="tel:847.634.3848">847.634.3848</a></td>
          <td>Thursday 9-5</td>
        </tr>
        <tr>
          <td>Fax: 847.634.2338</td>
          <td>Friday 8-1</td>
        </tr>
        <tr>
          <td>Email: <a href="mailto:info@villagegreendentistry.com">info@villagegreendentistry.com</a></td>
          <td>Saturday 8-1 (every other)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row no-gutter">
  <div class="col-xs-12 map">
    <a target="_blank" href="https://goo.gl/maps/FT3F7fJDDFs">
      <img class="contact-us-img" title="Map" alt="Map" src="/wp-content/themes/multipurpose-blog/images/vgd-map.png">
    </a>
    <div>
      <p>
        Our Lincolnshire dental office, <strong>Village Green Dentistry</strong>, is conveniently located on the corner of <strong>Olde Half Day Road</strong> and <strong>Milwaukee Avenue</strong> across the street from Walgreens in Lincolnshire. We are 1 block West of the Lincolnshire Police Department. Find us right <strong>next to Egg Harbor Cafe</strong>.
      </p>
      <p><strong>ALWAYS FREE PARKING AVAILABLE</strong></p>
    </div>
  </div>
</div>

<!--smile gallery-->
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row">
      <div class="col-sm-1 hidden-xs">
        <div class="slideshow-arrow top-arrow arrow-left">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div>
      </div>
      <div class="col-sm-10">
        <h1 id="smile-gallery-image-title">Porcelain Veneers</h1>
        <div class="slideshow-images">
          <div style="display: block;" class="active" data-index="1">
            <div class="ba-slider active-ba-slider">
               <img title="Porcelain Veneers" alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-1-after.png">
               <div class="resize">
                <img alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-1-before.png">
               </div>
               <span class="handle"></span>
            </div>
          </div>
          <div class="ba-slider" data-index="2">
            <div>
               <img title="Porcelain Veneers" alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-2-after.png">
               <div class="resize">
                <img alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-2-before.png">
               </div>
               <span class="handle"></span>
            </div>
          </div>
          <div class="ba-slider" data-index="3">
            <div>
               <img title="Porcelain Veneers" alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-3-after.png">
               <div class="resize">
                <img alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-3-before.png">
               </div>
               <span class="handle"></span>
            </div>
          </div>
          <div class="ba-slider" data-index="4">
            <div>
               <img title="Porcelain Veneers" alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-4-after.png">
               <div class="resize">
                <img alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-4-before.png">
               </div>
               <span class="handle"></span>
            </div>
          </div>
          <div class="ba-slider" data-index="5">
            <div>
               <img title="Porcelain Veneers" alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-5-after.png">
               <div class="resize">
                <img alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-5-before.png">
               </div>
               <span class="handle"></span>
            </div>
          </div>
          <div class="ba-slider" data-index="6">
            <div>
               <img title="Porcelain Veneers" alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-6-after.png">
               <div class="resize">
                <img alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-6-before.png">
               </div>
               <span class="handle"></span>
            </div>
          </div>
          <div class="ba-slider" data-index="7">
            <div>
               <img title="Composite Bonding" alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-7-after.png">
               <div class="resize">
                <img alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-7-before.png">
               </div>
               <span class="handle"></span>
            </div>
          </div>
          <div class="ba-slider" data-index="8">
            <div>
               <img title="Composite Bonding" alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-8-after.png">
               <div class="resize">
                <img alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-8-before.png">
               </div>
               <span class="handle"></span>
            </div>
          </div>
          <div class="ba-slider" data-index="9">
            <div>
               <img title="Front Bridge" alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-9-after.png">
               <div class="resize">
                <img alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-9-before.png">
               </div>
               <span class="handle"></span>
            </div>
          </div>
          <div class="ba-slider" data-index="10">
            <div>
               <img title="Veneers" alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-10-after.png">
               <div class="resize">
                <img alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-10-before.png">
               </div>
               <span class="handle"></span>
            </div>
          </div>
          <div class="ba-slider" data-index="11">
            <div>
               <img title="Full Mouth" alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-11-after.png">
               <div class="resize">
                <img alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-11-before.png">
               </div>
               <span class="handle"></span>
            </div>
          </div>
          <div class="ba-slider" data-index="12">
            <div>
               <img title="Implants and Veneers" alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-12-after.png">
               <div class="resize">
                <img alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-12-before.png">
               </div>
               <span class="handle"></span>
            </div>
          </div>
          <div class="ba-slider" data-index="13">
            <div>
               <img title="Implants" alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-13-after.png">
               <div class="resize">
                <img alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-13-before.png">
               </div>
               <span class="handle"></span>
            </div>
          </div>
          <div class="ba-slider" data-index="14">
            <div>
               <img title="Crowns" alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-14-after.png">
               <div class="resize">
                <img alt="" src="/wp-content/themes/multipurpose-blog/images/smile-gallery/slide-14-before.png">
               </div>
               <span class="handle"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-1 hidden-xs">
        <div class="slideshow-arrow top-arrow arrow-right">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row visible-xs">
    <div class="col-xs-3">
      <div class="slideshow-arrow arrow-left">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-xs-6"></div>
    <div class="col-xs-3">
      <div class="slideshow-arrow arrow-right">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
jQuery(document).ready(function() { 
//jQuery('.active-ba-slider').beforeAfter();
});
</script>


<!--team members-->
<div class="row no-gutter">
  <div class="col-sm-8 col-xs-12">
  <p style="margin-top:0; font-size: larger;"><strong>Lincolnshire dentist, Dr. Sokol along with the staff at Village Green Dentistry, want to be your resource for all of your oral health care needs.</strong></p>
  <p>Our emphasis is on disease prevention and dental health education to keep you and your family healthy. Many innovations in dentistry have become available in the last few years, and Dr. Sokol constantly researches the latest techniques to make your visit to Village Green Dentistry stress free and comfortable.</p>
  </div>
  <div class="col-sm-4 hidden-xs">
    <div class="meet-our-staff">
      <h2>Meet our Staff</h2>
      <ul><li><a href="/meet-dr-dmitry-sokol">Meet the Dentist</a></li><li class="active">Meet the Team</li></ul>
    </div>
  </div>
</div>
<div style="margin-top: 40px;" class="row no-gutter">
  <div class="col-sm-4 team-profile">
    <img title="Laura" src="/wp-content/themes/multipurpose-blog/images/team/laura-blue.png"/>
    <h3>Laura</h3>
    <p>Laura has been working in the dental field since 2003.  She worked as a hygiene assistant for 4 years, before joining Dr. Sokol’s team in 2007.  Laura is our practice manager whom oversees all day-to-day operations.</p>
    <p style="margin: -10px 0; padding: 0;"><a class="collapsed" data-toggle="collapse" data-target="#laura-more" href="#">READ <span>MORE</span><span>LESS</span></a></p>
    <div id="laura-more" class="collapse">
      <p>Prior to her work in the dental field, Laura was a competitive senior level figure skater for almost 15 years.</p>
      <p>Laura has a beautiful daughter with whom she spends a lot of her free time.  They enjoy cooking together, kayaking, yoga, and taking trips to the city.</p> 
      <p>Laura puts her heart into everything she does in the office.  She looks forward to catching up with patients, as they have become friends over the years.  Her hard work and commitment makes her invaluable to the practice.</p>
    </div>
  </div>
  <div class="col-sm-4 team-profile">
    <img title="Sandy" src="/wp-content/themes/multipurpose-blog/images/team/sandy-blue.png"/>
    <h3>Sandy</h3>
      <p>Sandra "Sandy" Saltiel earned her degree in Dental Hygiene at Southern Illinois University in 1974.  She has worked with the dentists of Village Green Dentistry since January 1992.</p>
      <p style="margin: -10px 0; padding: 0;"><a class="collapsed" data-toggle="collapse" data-target="#sandy-more" href="#">READ <span>MORE</span><span>LESS</span></a></p>
      <div id="sandy-more" class="collapse">
      <p>She has been an active member of the American Dental Hygienists' Association and Illinois Dental Hygienists' Association since 1974 and served as the Placement Chairperson for North Suburban Dental Hygienists' Society from 1983 through 1987.</p>
      <p>As past president of Riverside Foundation Auxiliary, Sandy has participated in in-service dental hygiene seminars with the staff of the residential facility for developmentally disabled adults in Lincolnshire, to improve the oral health of their clients.</p>
      <p>Sandy shares her love of dental hygiene by volunteering at Sprague School in Lincolnshire during Children's Dental Health Week and has participated in the biannual A.E. Stevenson High School Career Fair.</p>
      <p>Sandy and her husband David were honored by the Lincolnshire Community Association in 2001 as "Citizens of the Year" for their volunteerism within the community.  She is the proud mother of two adult children, Brittany and Robert.</p>
      <p>Sandy enjoys establishing trusting relationships with her patients at Village Green Dentistry while providing comfortable, thorough oral health care.</p>
    </div>
  </div>
  <div class="col-sm-4 team-profile">
    <img title="Lia" src="/wp-content/themes/multipurpose-blog/images/team/lia-blue.png"/>
    <h3>Lia</h3>
    <p>Lia has been with Village Green Dentistry since 2013.  She completed a Biological Science degree from University of Illinois at Chicago in 2011.  In addition, she earned her dental hygiene degree and local anesthesia certification at Harper College in Palatine.</p>
    <p style="margin: -10px 0; padding: 0;"><a class="collapsed" data-toggle="collapse" data-target="#lia-more" href="#">READ <span>MORE</span><span>LESS</span></a></p>
    <div id="lia-more" class="collapse">
      <p>Lia has many years of experience in the dental field and is dedicated to helping her patients achieve and maintain oral health.  To expand her dental knowledge, she attends continuing education courses regularly.  She previously worked in an orthodontic practice for 5 years before joining the Village Green Dentistry team.</p>
      <p>Lia grew up and currently resides in Buffalo Grove with her husband.  She has a Yorkshire terrier whom she enjoys taking for long walks in the park.  Her hobbies include bike riding, event planning, and drawing.</p>
    </div>
  </div>
</div>
<div class="row no-gutter">
  <div class="col-sm-4 team-profile">
    <img title="Pam" src="/wp-content/themes/multipurpose-blog/images/team/pam-blue.png"/>
    <h3>Pam</h3>
    <p>Pam grew up in the northern suburbs of Chicago. She graduated from Parkland College with a degree in Dental Hygiene in 1986. After a 2 year position in a periodontal practice, she spent the last 27 years working for a general dentist in Skokie. She attends many continuing education dental hygiene seminars, including one of the most well respected dental study clubs in the area.</p>
    <p style="margin: -10px 0; padding: 0;"><a class="collapsed" data-toggle="collapse" data-target="#pam-more" href="#">READ <span>MORE</span><span>LESS</span></a></p>
    <div id="pam-more" class="collapse">
      <p>Pam and her husband, Andy, live near the Lincolnshire dental office and have 2 children. In her free time she loves to read, spend time outdoors, and attend her daughter’s athletic events.</p>
    </div>
  </div>
  <div class="col-sm-4 team-profile">
    <img title="Anna" src="/wp-content/themes/multipurpose-blog/images/team/anna-blue.png"/>
    <h3>Anna</h3>
    <p>Anna grew up in Poland and has been in the US since 2001. She graduated from Bogomollets National Medical University in 1991. She has been working at Village Green Dentistry since 2009 as a chairside dental assistant.</p>
    <p style="margin: -10px 0; padding: 0;"><a class="collapsed" data-toggle="collapse" data-target="#anna-more" href="#">READ <span>MORE</span><span>LESS</span></a></p>
    <div id="anna-more" class="collapse">
      <p>Anna lives near the Lincolnshire office. She is married with one daughter. She attends many continuing education courses in both Poland and the US. Her hobbies include: biography books, traveling, and cooking.</p>
    </div>
  </div>
  <div class="col-sm-4 team-profile">
    <img title="Stephanie" src="/wp-content/themes/multipurpose-blog/images/team/stephanie-blue.png"/>
    <h3>Stephanie</h3>
    <p>Stephanie was born and raised in Waukegan, IL.  She has been practicing as a dental assistant for 3 years, and is very eager to learn new things.  Stephanie educates herself with dental knowledge that she hears at our office daily and shares it with her friends and family!</p> 
    <p style="margin: -10px 0; padding: 0;"><a class="collapsed" data-toggle="collapse" data-target="#steph-more" href="#">READ <span>MORE</span><span>LESS</span></a></p>
    <div id="steph-more" class="collapse">
      <p>In her free time, she enjoys participating in community work, exploring the culinary world, and enjoying different activities with friends , such as dancing, watching movies, and traveling.</p>
    </div>
  </div>
</div>
<div class="row no-gutter">
  <div class="col-sm-4 team-profile">
    <img title="Chrissy" src="/wp-content/themes/multipurpose-blog/images/team/chrissy-blue.png"/>
    <h3>Chrissy</h3>
    <p>Chrissy grew up in Barrington and now lives with her husband and two daughters in Volo.She has been with Village Green Dentistry since 2014.</p>   
    <p style="margin: -10px 0; padding: 0;"><a class="collapsed" data-toggle="collapse" data-target="#chrissy-more" href="#">READ <span>MORE</span><span>LESS</span></a></p>
    <div id="chrissy-more" class="collapse">
      <p>In her free time, she enjoys spending time with her family, and coaching her daughter’s cheerleading squad.</p>
      <p>As our front desk coordinator, Chrissy loves being a part of our office and enjoys getting to know the patients.  Her courteous communication and warm smile makes patients feel welcome.</p>
    </div>
  </div>
</div>

<!--meet the dentist-->
<div class="col-xs-12 visible-xs">
<div class="meet-our-staff">
<h2>Meet our Staff</h2>
<ul><li><a href="/meet-dr-dmitry-sokol">Meet the Dentist</a></li><li class="active">Meet the Team</li></ul>
</div>
</div>
[block id="63" title="Testimonial"]
[block id="65" title="Discover Services"]

<div class="col-xs-12 visible-xs">
<div class="meet-our-staff">
<h2>Meet our Staff</h2>
<ul><li><a href="/meet-dr-dmitry-sokol">Meet the Dentist</a></li><li class="active">Meet the Team</li></ul>
</div>
</div>
[block id="63" title="Testimonial"]
[block id="65" title="Discover Services"]

<!--testimonials-->
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <p style="margin-top: 0px; text-align: center;">At Village Green Dentistry we take pride in providing the most complete and effective dental services in the Lincolnshire and North Chicago area. We have many life long and satisfied patients and look forward to becoming your family's oral health providers. See below for what some of our recent visitors had to say...</p>
  </div>
  <div class="col-xs-6 col-sm-3 col-sm-offset-1 testimonial-img">
    <img src="/wp-content/themes/multipurpose-blog/images/testimonials/testimonial-1.png"/>
  </div>
  <div class="col-xs-6 col-sm-3 testimonial-img">
    <img src="/wp-content/themes/multipurpose-blog/images/testimonials/testimonial-2.png"/>
  </div>
  <div class="col-xs-12 col-sm-4 testimonial-img">
    <img src="/wp-content/themes/multipurpose-blog/images/testimonials/testimonial-3.png"/>
  </div>
</div>