/*
Theme Name: Multipurpose Blog

Adding support for languages written in a Right To Left (RTL) direction is easy,
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right-to-Left_Language_Support

*/

*{ 
  margin:0;
  padding:0;
  outline:none;
}

body{ 
  margin:0;
  padding:0;
  -ms-word-wrap:break-word;
  word-wrap:break-word;
  background-color:#f1f1f1;
  font:12px/22px arial;
  color:#5b5b5b;
}

img{ 
  margin:0;
  padding:0;
  border:none;
  max-width:100%;
  height:auto;
}

section img{
  max-width:100%;
}

h1,
h2,
h3,
h4,
h5,
h6{ 
  margin:0;
  padding:0 0 15px;
}

p{ 
  margin:0;
  padding:0;
}

a{ 
  text-decoration:none;
  color:#00A885;
}

a:hover{ 
  text-decoration:none;
  color:#666;
}

ul,
ol{ 
  margin:0 15px 0 0;
  padding:0;
}

input[type='submit']{
  background-color: #00A885;
  padding: 1%;
  border: 0;
  color: #fff;
  margin: 2% 0;
}

.clear{ 
  clear:both;
}

input[type='submit']:hover{
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="phno"],
textarea{
  border:1px solid #bcbcbc;
  width:100%;
  font-size:16px;
  padding:10px 10px;
  margin:0 0 23px 0;
  height:auto;
}

textarea{
  height:111px;
}

select{
  width:100%;
}

.center{ 
  text-align:center;
  margin-bottom:40px;
}

.middle-align{
  margin:0 auto;
  padding:0;
  min-height: 550px;
}

.wp-caption{ 
  margin:0;
  padding:0;
  font-size:13px;
  max-width:100%;
}

.wp-caption-text{ 
  margin:0;
  padding:0;
}

.screen-reader-text {
  position: absolute;
  top:-9999em;
  right:-9999em;
}

.sticky{ 
  margin:0;
  padding:0;
}

.gallery-caption{ 
  margin:0;
  padding:0;
}

.alignleft,
img.alignleft {
  display: inline;
  float: right;
  margin-left:45px;
  margin-top:4px;
  margin-bottom:20px;
  padding:0;
}

.alignright,
img.alignright { 
  display: inline;
  float: left;
}

.aligncenter,
img.aligncenter { 
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top:0;
}

.comment-list .comment-content ul { 
  list-style:none;
  margin-right:15px;
}

.comment-list .comment-content ul li{
  margin:5px;
}

.main-container ol{
  list-style-position:outside;
  margin-right:20px;
}

.main-container ol li{
  margin:5px 0;
}

.menus {
    border-bottom:3px solid #f2f2f2;
}

.toggleMenu{
  display:none;
}

.bypostauthor{ 
  margin:0;
  padding:0;
}

section{ 
  padding:34px 0;
  position:relative;
  max-width:1400px;
  margin:0 auto;
}

h2.section-title { 
  font-family:'Roboto';
  font-size:30px;
  font-weight:700;
  padding:0 0 45px 0;
  text-align:center;
  display:table;
  margin-bottom:50px;
}

/* --------- SLIDER--------- */
p.slider_parg {
   font-size: 16px !important;
    font-weight: normal !important;
    text-align: right;
    margin-right: 164px !important;
    margin-top: 13px !important;
    color: #000;
    font-family: Open, sans-serif;
}
p.slider_head {
    text-align: right;
    font-size: 48px !important;
    font-weight: normal !important;
    margin-right: 15% !important;
    font-family: 'Dancing Script' !important;
    letter-spacing: 4px;
}
#slider{ 
  max-width:100%;
  margin:auto;
  padding:0;
  position:relative;
}

.nivo-caption {
  top:25%!important;
}

#slider .slide-cap{ 
  position:relative;
  margin:auto;
  width:90%;
  margin-left:auto;
  margin-right:auto;top:25%;
}

#slider .slide-cap h4{
  text-transform:uppercase;
  font-size:25px;
  width:100%;
  margin:0 auto;
  background:url('images/welcome.png') center no-repeat;
  background-position: center;
  padding:5px 0;
  font-weight:bold;
}

#slider .slide-cap h3 {
  font: 700 80px 'Roboto';
  text-transform: uppercase;
  background: url('images/border.png') no-repeat center bottom;
  padding-bottom: 50px;
  font-size: 38px;
}

#slider .slide-cap p {
    color: #fff;
    font-weight: 700;
    margin: 0 0 0 0;
    line-height: 20px;
    font: 20px;
    font-weight: bold;
    padding: 2% 6% 0 19%;
}

#slider .slide-cap a.read-more{
  display:none;
  border-radius:3px;
  padding:10px 25px;
  border:1px solid #ffffff;
  color:#ffffff;
}

a.blog-more{ 
  display:inline-block;
  font:400 16px 'Roboto Condensed', sans-serif;
  padding:10px 30px;
  margin-top:21px;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -o-border-radius:4px;
  -ms-border-radius:4px;
  margin-left:15px;
}

/*services section*/
a.r_button {
    background: rgba(158, 158, 158, 0.38);
    padding: 0.5em 2em;
    color: #000;
    font-weight: bold;
}

section h3 {
    font-weight: bold;
    text-align: center;
    margin: 0 0 7px;
    padding: 0;
    font-size: 30px;
    color: #000;
    font-family: 'Rasa';
}

/*--------------header-------------*/
.socialbox {
    float: left;
}
#header .socialbox i {
    margin: 0 7px;
    color: #000;
}
#header .socialbox i:hover {
    color: #59A101;
}
:hover {
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}
#header .top_headbar {
  padding: 10px 65px 10px 65px;
  font-size: 16px; 
  width: 100%;  
  margin: 0 auto;
  background: rgba(158, 158, 158, 0.38);
}
.logo a:hover {
    text-decoration: none;
}
.logo_bar {
    border-bottom: 3px solid #f2f2f2;
}
#header .logo{
  margin:0;
  padding:37px 0;
  text-align:center;
}
#header .logo h1{
  text-transform:uppercase;
  padding:0;
  margin-bottom:0;
  font-size:30px;
  margin-top: 0;
  text-align:center;
}
#header .logo a{ 
    color: #333333;
    font-family: 'Alex Brush', cursive;
    font-size: 45px;
    letter-spacing: 3px;
    text-transform: none;
}
#header .logo p{ 
  font-size:12px;
  color: #999;
}
#header .header-top{
  background:#000;
  color:#aaaaaa
}
.main-container{
  margin:0;
  padding:0;
}

.header.fixed{
  position:fixed !important;
  top:0 !important;
  margin:0;
  padding:15px 0;
  z-index:99999999;
  background-color:#ffffff;
  opacity:inherit;
}

.header .logo{
  margin:0;
  padding:0 0 15px;
}

.header .logo h1{ 
  padding:0;
  margin-bottom:8px;
  font-size:20px;
}

.header .logo a{ 
  color:#ffc000;
  font-family:'Roboto';
  font-size:37px;
  text-decoration:none;
}

.header .logo p{ 
  font-size:14px;
  font-family:'Roboto';
  color:#626262;
}

.toggle{
  display:none;
}

.header{
  z-index:999;
  width:100%;
  height:auto;
}

.header .nav{ 
  margin:0;
  padding:0;
  text-align:right;
}

#header .nav{ 
  margin:0 0 0 0;
  padding:0 0 0 18px;
  text-align:right;
}
#header .nav ul { 
  text-align: center;
  margin:0;
  padding:0;
  font-family:'Roboto';
  font-weight:400;
  font-size:14px;
  text-transform: uppercase;
  font-weight:bold;
}
#header .nav ul li{ 
  display:inline-block;
  margin:0;
  position:relative;
}
#header .nav ul li a{ 
  color:#99a4b0;
  padding:10px;
  display:block;
  text-align: right;
}
#header .nav ul li a:hover{
  border-bottom: solid 3px #59A101;
  transition-duration: 0.2s;
  color: #59A101;
  text-decoration: none;
}
#header .nav ul li a:active,
#header .nav ul li.current-menu-item a{
 /* border-bottom: solid 3px #59A101;
  color: #59A101;*/
}
#header .nav ul.sub-menu li{
  display: inline;
}
#header .nav ul.children li {
    display: inline;
}

@media screen and (min-width:720px){
  .header .nav ul li ul{
    display:none;
    z-index:2;
  }
  .header .nav ul li:hover > ul{
    display:block;
    background:#222222;
    width:200px;
    position:absolute;
    top:25px;
    right:0;
    text-align:right;
    padding:10px 0;
    z-index:99;
  }
  .header .nav ul li:hover > ul li{ 
    display:block;
  }
  .header .nav ul li:hover > ul li a{ 
    padding:5px 10px 5px 0px;
    color:#ffffff;
  }
  .header .nav ul li:hover ul li ul{
    display:none;
    }
  .header .nav ul li:hover ul li:hover > ul{
    display:block;
    position:absolute;
    right:100px;
    top:-30px;
  }
  .header .logo{
    float:right;
  }
}

.header-widget{ 
  margin:0;
  padding:0;
  clear:left;
  color:#ffffff;
  text-align:left;
}
.header-widget h4.header-title{ 
  font-size:18px;
  margin:0;
  padding:0;
  color:#ffffff;
}
.header-widget li{ 
  display:inline;
  border-right:1px solid #f1f1f1;
  padding-right:5px;
}


/* --------- Homepage --------- */

section { 
  width:100%;
  margin:0 auto;
  position:relative;
  background-color:#ffffff;
}
.section-title {
    font: 26px 'PT sans';
    margin: 0 0 10px 0;
    text-align: right;
    background: rgba(158, 158, 158, 0.38);
    padding: 8px 10px;
}

.services {
  padding:0;
}

.services .section-title a{
  color:#000;
  font-size:24px;
  font-weight:normal;
}
.services .section-title a:hover{
  text-decoration:none;
}
.services .new-text p{
  font-size: 16px;
  color: #727272;
  margin: 0 0 10px;
  line-height:23px;
}
.inner-service {
  border: 2px solid #dddddd;
  margin-bottom: 3%;
  padding: 15px;
}
.services .about-us{
  padding: 10px;
  margin-top:20px;
}

.services  .about-us a{
  border: 1px solid #000;
  padding:8px 20px;
  color: #000;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 19px;
}

.services .button{
  margin: 0 18%;
  display: inline-block;
}

.one_half,
.one_third,
.two_third,
.one_fourth,
.three_fourth,
.one_fifth,
.four_fifth{ 
  float:right;
  margin-bottom:20px;
  position:relative;
}

.last_column{
  clear:left;
  margin-left:0 !important;
}

.one_half{
  width:48%;
  margin-left:4%;
}

/*---------------- SERVICES END ------------------------------------------*/

section.welcome{ 
  padding:0 !important;
  color:#757575;
  background-color:#f7f7f7;
}
section.welcome h2{ 
  font:400 30px 'Roboto';
  color:#454545;
}
section.welcome .one_half{ 
  margin-bottom:0;
}
.message-thumb{ 
  width:525px;
  border:#212121 solid 7px;
  overflow:hidden;
}

/* -------------- Features ----------- */
.features .one_half h3{ 
  font:400 30px 'Roboto';
  color:#454545;
  margin-bottom:25px;
  padding:0 0 10px;
  border-bottom:1px solid #dfdfdf;
}

/** Blog post css **
-----------------------------------------------------------------*/
section#works{ 
  padding-bottom:0;
}

.blogposts { 
  width:31.6%;
  margin:0 0 2% 2%;
  display:inline-block;
  position:relative;
  vertical-align:top;
  text-align:center;
  background-color:#f7f7f7;
  padding-bottom:40px;
}

.blogposts > p{ 
  padding:0 35px;
}

.blogposts h2 { 
  color:#343434;
  font:700 18px 'Roboto';
  margin:20px 0;
  padding:0;
}

.blogposts h2 a {
  color:#302f2f;
}

.blogposts a.blog-more{ 
  color:#ffffff;
  background-color:#222222;
}

.lastcols { 
  margin-left:0 !important;
}

.blog-thumb{ 
  position:relative;
}

.blog-date{ 
  position:absolute;
  top:0;
  right:0;
}

.blog-date .date{ 
  background-color:#00A885;
  color:#ffffff;
  font:700 24px arial;
  padding:5px 20px;
}

.blog-date .month{ 
  background-color:#2e2e2e;
  color:#ffffff;
  font-size:14px;
  padding:4px 20px;
}

.blog-author{ 
  background-color:rgba(0,0,0,0.5);
  color:#ffffff;
  width:100%;
   position:absolute;
  bottom:6px;
  padding:10px 0;
  text-transform:uppercase;
}

.blog-author .blog-author-name{ 
  float:right;
  margin-right:10px;
}

.blog-author .comment-count{ 
  float:left;
  margin-left:10px;
}

.see-all-button { 
  border:1px solid #444;
  display:table;
  font-size:16px;
  font-weight:700;
  margin:50px auto 0;
  padding:10px 20px;
  text-align:center;
  text-transform:uppercase;
  transition: all 0.3s ease 0s;
  color:#f0efef;
}

.see-all-button:hover { 
  background:#ff8a00;
  border:#ff8a00 solid 1px;
  color:#fff;
}

.clients{ 
  text-align:center;
}

.clients img {
  text-align: center;
  vertical-align: middle;
  margin:0 20px;
}

/*-------------- LATEST NEWS END -------------------------------------------*/

/* --------- POST --------- */
section#blog{
  padding-top:0;
  margin-top:0;
}

.blog-post h5{
  text-transform:uppercase;
  color: #000;
}

.feature-image-box{
  width:100%;
}

.feature-image-box img{
  height:230px;
  width:100%;
}

.bradcrumbs{
  padding:30px 0;
}

.bradcrumbs a{
  background:#f1f1f1;
  color:#000;
  padding:5px 15px;
  margin-left:5px;
  line-height: 37px;
}

.bradcrumbs a:hover{
  background:#ffd34e;
}

.bradcrumbs span{
  background:#dddddd;
  color:#000;
  padding:5px 15px;
}

/*-------------------------------- Sweep To Right ----------------------*/
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #59A101;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: #fff;
  font-weight: bold;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* --------- Blog Page ------- */

#full-width-blog .postbox{
  height:355px;
}

#blog-right-sidebar .postbox img,
#blog-left-sidebar .postbox img{
  height:250px;
}

#blog-left-sidebar .postbox img:hover{
  border:1px solid #d3da36;
}

.postbox {
  margin-bottom:39px;
  border-bottom:2px dotted #7e7e7e;
  padding:0 0 26px;
}

.postbox h2{
  margin:0 0 5px;
  font-weight:bold;
}

.postbox  a.blogbutton {
  background:none;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  color:#fff;
  padding:6px 25px;
  border:1px solid #000;
  color:#000;
  font-size:18px;
  text-transform:uppercase;
  margin:25px 0 0 0;
  display:table;
}

.blogbutton-small{
  background:none;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  color:#fff;
  padding:6px 25px;
  border:1px solid #000;
  color:#000;
  font-size:14px;
  text-transform:uppercase;
  margin:25px 0 0 0;
  display:table;
}

.metabox{color:#000;
  padding:15px 0;
  clear:both;
}

.metabox .entry-date{
  background:url('images/date.png') no-repeat;
  padding: 0 20px 0 0;
  margin:0 0 0 13px;
}

.metabox .entry-author{
  background:url('images/author.png') no-repeat;
  padding: 0 20px 0 0;
  margin:0 0 0 20px;
}

.metabox .entry-comments{
  background:url('images/comments.png') no-repeat;
  padding: 0 20px 0 0;
}

/* Comments BOX */
#comments{
  margin-top:40px;
}

#comments h2.comments-title{
  font-size:20px;
  font-weight:bold;
  border-top:2px dotted #7e7e7e;
  padding:40px 0 0 0;
}

#comments h3.comment-reply-title{
  font-size:20px;
  font-weight:bold;
  clear:both;
}

#comments input[type="text"],
#comments input[type="email"],
#comments textarea {
  padding:12px 10px;
  font-size:18px;
  margin:20px 0 0 0;
}

#comments input[type="submit"].submit{
  background:rgba(158, 158, 158, 0.38) !important ;
  padding:10px 60px;
  text-transform:uppercase;
  font-weight:bold;
  margin-top:20px;
  margin-right: 0px;
  color: #000;
}

#comments a.comment-reply-link{
  color:#000;
  background:#cecece;
  padding:5px 15px;
}

#comments a.comment-reply-link:hover{
  background:#3890cb;
}

#comments a time{
  color:#000;
  font-weight:bold;
  font-size:12px;
}

#content-tc #comments ol li{
  width:100%;
  background:none;
  list-style:none;
  margin: 0 0 20px;
  padding: 20px;
  background:#eee;
  display:inline-block;
}

#content-tc #comments ul{
  margin:0 40px 0 0;
}

#comments .reply{
  float:left;
}

.comment-respond{
  clear:both;
}

#comments .comment-metadata{
  width:90%;
  float:right;
  padding:1% 0 0 0;
}

#comments .comment-content{
  width:90%;
  float:right;
  margin-right:7%;
}

#comments p {
  width:90%;
  float:right;
}

/*------------------------------------- Sidebar -------------------------------------------*/
#sidebar table{
  width: 100%;
}
#sidebar{
  padding-top: 3%;
}
#sidebar  td#prev a {
    color: #333;
}
#sidebar caption {
  font-weight: bold;
  color: #000;
  font-size: 25px;
  text-align: center;
  font-family: 'Alex Brush', cursive;
  letter-spacing: 2px;
}
#sidebar table,#sidebar th,#sidebar td {
    border: 1px solid #858282;
    text-align: center;
}
#sidebar td {
    padding: 10px;
    color: #000;
}
#sidebar th {
    text-align: center;
    padding: 10px;
    color: #000;
}
#sidebar select {
  padding: 8px 5px;
}
#sidebar form{
  display: table;
  width: 100%;
}
#sidebar h3 {
  margin: 0 0 10px;
  padding: 6% 10%;
  font-size: 35px;
  background: rgba(158, 158, 158, 0.38);
  color: #333;
  text-align: center;
  font-family: 'Alex Brush', cursive;
  font-weight: bold;
  letter-spacing: 5px;
}

#sidebar aside {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border: 1px solid #bbb;
  box-shadow: -10px 10px 10px 0px #bbb;
}

#sidebar input[type="search"] {
  padding:17px 10px;
  border:none;
  font-size:15px;
  color:#333;
  width:100%;
}

#sidebar label{
  width:70%;
  float:right;
  margin-bottom: 0;
}

#sidebar input[type="submit"] {
  background: rgba(158, 158, 158, 0.38);
  border: none;
  color: #333;
  padding: 10px 0;
  font-family: 'Alex Brush', cursive;
  width: 30%;
  font-size: 25px;
  float: right;
  margin: 0;
  font-weight: bold;
}

#sidebar aside{
  padding-bottom:30px;
  margin-bottom:30px;
}

#sidebar aside.widget_search{
  padding-bottom:0;
}

#sidebar ul {
  list-style:none;
  margin:0;
  padding:0;
  font-size:17px;
}

#sidebar ul li{
  background:url('images/bullets-sidebar.png') no-repeat 100% 7px;
  margin:0 0 15px;
  padding:0 23px 0 0;
  font-weight:bold;
}

#sidebar ul li a{
  color:rgba(0, 0, 0, 0.78);
}

#sidebar .tagcloud a{
  background:#eeeeee;
  color:#000;
  font-size:15px !important;
  padding:5px 18px;
  margin:0 0 5px;
  display:inline-block;
}

#sidebar .tagcloud a:hover{
  background:#ffd34e;
}

#sidebar ul li {
  margin: 0 17px 15px;
  padding: 0 23px 0 0;
}

/* Page */
.title-box{
  background-repeat:no-repeat;
  background-size:100% 100%;
  color:#fff;
  text-transform:uppercase;
  padding:75px 0;
  font-weight:bold;
  text-align:center;
  margin-bottom:25px;
  font-family:Roboto;
}
.date-box{
  background:url(images/calender.png) no-repeat 1px 3px;
  padding:0 25px 0 0;
  font-style:italic;
  font-weight:bold;
  margin:0 0 15px 0;
  }

.cat-box{
  background:url(images/cat-icon.png) no-repeat 1px 3px;
  padding:0 25px 0 0;
  font-style:italic;
  font-weight:bold;
  margin:15px 0 30px 0;
}

.single .title-box{
  background-size:100% 100%;
}

#content-tc {
  font-family:Helvetica;
}

#content-tc p{
  line-height: 25px;
  font-size: 16px;
  margin:0 0 20px 0;
}

#content-tc hr{
  border:none;
  border-bottom:2px dotted #7e7e7e;
  margin:35px 0;
  clear:both;
}

#content-tc h1{
  font-size:51px;
}

#content-tc h2{
  font-size:32px;
  font-weight:normal;
  margin:0;
  padding:0;
  color:#000;
  margin:0 0 25px;
  font-family:Roboto;
}

#content-tc h3{
  font-size:36px;
  font-weight:normal;
  margin:0;
  padding:0;
  color:#000;
  margin:0 0 25px;
  font-family:Roboto;
}

#content-tc h4{
  font-size:20px;
  font-weight:bold;
  margin:0;
  padding:0;
  color:#333;
  margin:0 0 25px;
  font-family:Roboto;
}

#content-tc  h6{
  font-size:18px;
}

#content-tc  h6{
  margin:0 0 15px;
  font-size:17px;
  padding:0;
  font-weight:bold;
  line-height:normal;
}

#content-tc ul{
  list-style:none;
  margin:0 10px 0 0;
  padding:10px 0 0;
  font-size:16px;
}

#content-tc ul li{
  list-style-type: circle;
  padding:0 4px 0 0;
  margin:0 0 20px 0;
  line-height:25px;
}

#content-tc ul li ul li{
  list-style-type: circle;
}

#content-tc ol{
  list-style: none;
  margin:0 0px 0 0;
  padding:10px 0 0 0;
  font-size:16px;
  counter-reset: myCounter;
}

#content-tc ol li{
  list-style-type: circle;
  padding:0 0 0 0;
  margin:0 0 20px 0;
}

#content-tc ol li ol li{
  margin:0 0 20px 0;
  padding:0 5px 0 0;
}
#content-tc  h5{
  margin:0 0 15px;
  font-size:18px;
  padding:0;
  font-weight:bold;
  line-height:normal;
}

.read-moresec{
  margin:2% 0;
}

a.button {
  border: 2px solid #000;
  background: #fff;
  color: #000;
  font-size: 16px;
  margin: 20px 0 0;
  padding: 7px 30px;
  text-transform: uppercase;
  font-weight: bold;
}


/*copyright css*/
.copyright-wrapper { 
  position:relative;
  padding:20px 0;
  background-color:#131313;
}

.copyright-wrapper p {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  padding:20px 0 0;
}

.copyright-wrapper a{
  color: #fff;
}
.footer-wp {
    background: rgba(158, 158, 158, 0.38);
}
.footer-wp h3 {
  text-align: right;
  font-size: 30px;
  margin: 0 0 24px 0;
  border-bottom: 3px solid #333;
  padding: 0 0 12px 0;
  font-family: 'Alex Brush', cursive;
  letter-spacing: 2px;
  font-weight: bold;
  color: #333;
}
.footer-wp input[type="search"]{
  width:100%;
  padding:8px 5%;
  float:right;
}
.footer-wp input[type="submit"] {
  padding: 10px 12px;
  float: left;
  border: none;
  background: #333;
  border-radius: 0;
  margin: 0;
  font-size: 12px;
}
.footer-wp  td#prev a {
    color: #333;
}
.footer-wp caption {
  font-weight: bold;
  color: #000;
  font-size: 25px;
  text-align: center;
  font-family: 'Alex Brush', cursive;
  letter-spacing: 2px;
}
.footer-wp table,.footer-wp th,.footer-wp td {
    border: 1px solid #858282;
    text-align: center;
}
.footer-wp td {
    padding: 10px;
    color: #000;
}
.footer-wp th {
    text-align: center;
    padding: 10px;
    color: #000;
}
.footer-wp select {
  padding: 8px 5px;
}
.footer-wp li a {
  color: #000;
  font-size: 17px;
}
.footer-wp ul li {
  list-style: none;
  padding: 5px 0;
  font-family: 'Montserrat', sans-serif;
}
.footer-wp ul {
  margin: 0;
}
.footer-wp .widget {
  margin: 5% 0;
}
.footer-wp .tagcloud a {
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

/* Pagination */
.pagination {
  clear:both;
  position:relative;
  font-size:14px;  
  line-height:13px;
  float:left;  
  font-weight:bold;
  width:100%;
}
 
.pagination span, .pagination a {
  display:block;
  float:right;
  margin: 2px 0 2px 2px;
  padding:10px 15px;
  text-decoration:none;
  width:auto;
  color:#fff;  
  background: #131313 ;  
  -webkit-transition: background .15s ease-in-out;
  -moz-transition: background .15s ease-in-out;
  -ms-transition: background .15s ease-in-out;
  -o-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
 
.pagination a:hover{
    color:#000;
    background: rgba(158, 158, 158, 0.38);
}
 
.pagination .current{
    padding:10px 15px;
    background: rgba(158, 158, 158, 0.38);
    color: #000;
    font-weight:normal;
}

#content-tc .pagination ul{
  margin:0;
  clear:both;
}

#content-tc .pagination ul li{
  margin:0;
}

@media screen and (max-width:991px) 
{
  #slider .slide-cap h2{
    font-size:150%;
    color:#ffffff;
  }

  .day-time{ 
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 720px) and (min-width: 320px){
  .services .new-line {
    padding-bottom: 5px;
    font-size: 26px;
    width: 60%;
    font-style: oblique;
  }
  #sidebar {
    clear: both;
  }
}


/* ------ Contact Form ------ */
.wpcf7{ 
  margin:0;
  padding:0;
  color:#222222;
}

.wpcf7 form{ 
  margin:0;
  padding:0;
}

.wpcf7 form span.last{ 
  float:none !important;
}

.wpcf7 form input[type="text"],
.wpcf7 form input[type="email"],
.wpcf7 form input[type="tel"],
.wpcf7 form input[type="url"],
.wpcf7 form input[type="date"],
.wpcf7 form select, .leftdiv input[type="text"],
.leftdiv input [type="url"],
.leftdiv input[type="email"],
.leftdiv input[type="tel"],
.wpcf7 form textarea,
.rightdiv textarea{ 
  width:94%;
  background-color:#f8f8f8;
  border:1px solid #e6e5e5;
  padding:10px;
  margin-top:15px;
  color:#777777;
}
.wpcf7 form textarea, .rightdiv textarea{
  height:132px;
}

.wpcf7 form input[type="checkbox"],
.wpcf7 form input[type="radio"],
.wpcf7 form input[type="file"]{ 
  margin-top:10px;
  padding:0;
}

span.wpcf7-list-item{ 
  margin:0 0 0 15px !important;
}

.wpcf7 form input[type="submit"],
#contact input[type="submit"],
#contactform_main input[type='submit']{
  margin:25px 0 0 0;
  padding:5px 20px;
  border:none;
  color:#ffffff;
  border-radius:4px;
  -moz-border-radius:4px;
  -o-border-radius:4px;
  -webkit-border-radius:4px;
  cursor:pointer;
  background-color:#00A885;
}

.pagination{
  display:table;
  clear:both;
}
.pagination ul{
  list-style:none;
  margin:20px 0;
}
.pagination ul li{
  display:inline;
  float:right;
  margin-left:5px;
}

.pagination ul li span,
.pagination ul li a{
  background:#222222;
  color:#fff;
  padding:5px 10px;
  display:inline-block;
}

.pagination ul li .current,
.pagination ul li a:hover{
  background:#ff8a00;
}

h1.entry-title,
h1.page-title{
  padding-bottom:20px;
  font-size:30px;
  text-transform:uppercase;
  color: #000;
}

article.tag-sticky-2{
  background:#f6f6f6;
  padding:10px;
}

article img{
  height:auto;
}

article p{
  margin:10px 0;
}

.post-date{
  display:inline;
}

.post-comment{
  display:inline;
}

.post-categories{
  display:inline;
}

.post-tags{
  display:inline;
}

form.search-form{
  margin-bottom:0px;
}

input.search-field,
.post-password-form input[type=password]{
  border:1px #eee solid;
  padding:4px;
}

input.search-submit,
.post-password-form input[type=submit]{
  border:none;
  color:#ffffff;
  padding:4px 10px;
  cursor:pointer;
}

.nav-previous{
  float:right;
  margin-top:10px;
  margin-bottom:10px;
}

.nav-next{
  float:left;
  margin-top:10px;
  margin-bottom:10px;
}

nav.post-navigation{
  padding:10px 0 20px;
  clear: both;
  font-weight: bold;
}

.webicon{
  font-size:20px;
}

#sidebar ul{ 
  list-style:none;
  margin:0;
  padding:0;
}

#sidebar ul li{
  margin:5px 10px;
  background:url('images/bullets-sidebar.png') no-repeat 0px 8px;
  padding-right:20px;
}

.comment-list, ol.comment-list{
  list-style:none;
  margin-right:0;
  margin-top:20px;
  margin-bottom:20px;
}

.comment-list ul, ol.comment-list ul{
  list-style:none;
}

.comment-list li.comment{
  margin-top:20px;
}
.comment-list .comment-content h1,
.comment-list .comment-content h2,
.comment-list .comment-content h3,
.comment-list .comment-content h4,
.comment-list .comment-content h5,
.comment-list .comment-content h6{
  margin-top:15px;
}

.blog-post-repeat{ 
  border-bottom:1px solid #cccccc;
  margin-bottom:40px;
}

#contact .column-2{ 
  width:65%;
  float:right;
  margin:0;
}
#contact .column-2.last_column{ 
  width:25%;
  margin-right:9%;
}

#contact .column-2.last_column span{ 
  text-transform:capitalize;
}

#contact .column-2.last_column a{
  color:#666666;
}

.leftdiv{ 
  float:right;
  width:48%;
}

.rightdiv{ 
  float:left;
  width:48%;
}

#contact .column-2 h2{ 
  font:400 17px 'Oswald';
  text-transform:uppercase;
}

.social-icons{ 
  text-align:center;
}

.top-right .social-icons a {height: 50px;
  margin:0;
  vertical-align: 0;
  width: 39px;
  display: table;
  float: right;
  border-right:1px solid #727171;
  color:#727171;
}

.top-right .social-icons a:hover{
  color:#ffffff;
}

.top-right .social-icons a:last-child{ 
  border-left:1px solid #727171;
}

.fa::before, fa::after{ 
  display:table-cell;
  vertical-align:middle;
}

.wpcf7-form p{ 
  color:#222222;
}

/*---static --*/
#our-services {
    margin-top: 3%;
}
.box-image img {
    width: 100%;
}
.imagebox {
    margin-bottom: 5%;
}
.contentbox {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 43%;
}
.contentbox h4 {
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    background: rgba(59, 58, 58, 0.74);
    display: table;
    padding: 15px;
    letter-spacing: 2px;
}
#photography {
    text-align: center;
}
/* --------- CONTACT Page --------- */
section#contact-box {
  padding:0;
  margin:0;
}

.contact-info {
  color:#6e6e6e;
  font-weight:bold;
  font-size:16px;
  line-height:26px;
  border-left:2px dotted #595959;
  margin: 3% 0 0 0;
}

.contact-location{
  background:url('images/location.png') no-repeat scroll 100% 2px;
  padding:0 30px 0 0;
  margin:0 0 40px 0;
}

.contact-call{
  background:url('images/phone.png') no-repeat scroll 100% 2px;
  padding:0 30px 0 0;
  margin:0 0 40px 0;
}

.contact-email{
  background:url('images/email.png') no-repeat scroll 100% 5px;
  padding:0 30px 0 0;
  margin:0 0 40px 0;
}

.contact-info .head{
  color:#000;
}

.contact_form textarea  {
  height: 75px;
}
.contact_form{
  background: #000;
  padding: 54px;
}
.contact_form p{
  color:#fff;
  margin:0 0 15px;
}

.contact_form input[type="text"] ,
.contact_form input[type="email"],
.contact_form textarea { 
  width: 100%;
  background: #262626;
  border: 1px solid #262626;
  color: #fcfcfc;
  padding: 8px 10px;
  margin:5px 0 0 0;
}

.contact_form  input[type="submit"] 
{
  background:none;
  color:#fff;
  padding:10px 50px;
  text-transform:uppercase;
  color:#fcfcfc;
  display:table;
  margin:0 auto;
  text-align:center;
  border: 2px solid #fff;

}
.contact_form  input[type="submit"]:hover{
  background:#ffd34e;
  color:#000;
}

@media screen and (max-width:686px){
  #content-tc #comments ul{
    margin: 0!important;
  }
}

/*responsive menu*/
@media screen and (max-width:720px) {
  .toggle{
    display:block;
  }

  .toggle a{
    width:100%;
    color:#000;
    background:url('images/responsive_menu.png') no-repeat left center rgba(158, 158, 158, 0.38);
    padding:10px 10px;
   font-size:16px;
  }

  .toggle a:hover{ 
    color:#000;
  }

  .toggle a.active{
    color:#000;
  }

  .nav{
    display:none;
  }

  .admin-bar .header .nav{
    top: 42px;
  }

  .header .nav{
    float:none;
    margin:0;
    position:absolute;
    z-index:999;
    overflow-x:hidden;
    top: 22px;
    width: 96%;
  }

  .header .nav ul{ 
    width:100%;
    float:none !important;
    margin-top:20px;
    background-color:#222222;
  }

  .header .nav ul li{
    border-top:1px #303030 solid;
    display:block;
    float:none;
    text-align:right;
  }

  .nav ul li a{
    padding:5px 10px;
    display:block;
    color:#ffffff !important;
  }
  
  .nav ul li a:hover{
    color:#ff8a00;
  }

  .nav ul li ul,
  .nav ul li ul ul{ 
    display:block !important;
  }

  .nav ul li ul li a:before{
    content:"\00BB \00a0";
  }

  .nav ul li ul li a{
    padding-right:20px !important;
  }
  
  .nav ul li ul li ul li a{
    padding-right:30px !important;
  }
  
  .header .nav ul li{
    width:100%!important;
  }

  .header .logo{
    text-align:center;
  }

  .pagination{
    float:none;
  }

  .services .button {
    margin: 0 auto;
    display: block;
    width: 34%;
  }

  .home .inner-service{
    margin: 20px 0 0 0;
    min-height: auto;
  }
}

@media screen and (min-width:720px){
  .header .nav ul li ul{
    display:none;
    z-index:2;
    font-weight:normal;
    margin: 5% 0 0 0;
  }
  .header .nav ul li:hover > ul{
    display:block;
    background:#222222;
    width:200px;
    position:absolute;
    top:41px;
    right:0;
    text-align:right;
    padding:10px 0;
    z-index:99;
  }
  .header .nav ul li:hover > ul li{ 
    display:block;
  }
  .header .nav ul li:hover > ul li a{ 
    padding:7px 10px 7px 0px;
    color:#ffffff;
  }
  .header .nav ul li:hover ul li ul{
    display:none;
  }

  .header .nav ul li:hover ul li:hover > ul{
    display:block;
    position:absolute;
    right:100px;
    top:-30px;
  }
  
  .header .nav ul.sub-menu{
    margin-top:6px;
  }

  .header .nav ul.sub-menu li a:hover{
    background:#bbb;
    color:#fff;
  }
  .header .nav ul {
    margin:0;
  }
  .header .nav ul li a{ 
    color:#fff;
    padding:14px 15px;
    display:block;
  }
}

@media screen and (min-width: 1000px) {
  #header #header-inner .nav ul li ul li{
    display:block;
    position:relative;
    float:none;
  }
  #header #header-inner .nav ul li ul li a{
    color:#000;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px #313131 solid;
  }
}
