/*
multipurpose blog Custom Style CSS
*/

/******************************
* BuddyPress
*******************************/

body {
  background-image: url(../images/bg-body.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #4a4744;
}
body,a {
  letter-spacing: .03em;
  font-weight: 400;
  font-family: 'Roboto';
}
body.blog section h3 a {
  letter-spacing: 0;
  font-weight: inherit;
  color: inherit;
}
body.blog section h3,
#content-tc h3 {
  letter-spacing: .02em;
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 24px;
  color: #4a4744;
  margin-bottom: 10px;
  text-align: left;
}

h3 span, h1 span { font-family: 'Great Vibes', cursive; font-size: larger; }

body.blog section h3 { margin-bottom: 5px; line-height: 15px; }

section { background-color: transparent; }

body.blog ul.modal-list,
#content-tc ul.modal-list { margin: 0 auto; width: 800px; }
body.blog ul.modal-list li,
#content-tc ul.modal-list li { margin-bottom: 40px; list-style-type: none; }
body.blog ul li div.left,
#content-tc ul li div.left { float: left; margin-right: 10px; width: 200px; overflow: hidden; }
body.blog ul li div.left img,
#content-tc ul li div.left img { width: 100%; border: 2px solid #4a4744; }
body.blog ul li div.right,
#content-tc ul li div.right { position: relative; float: left; max-width: 585px; width: 100%; padding: 5px 10px; background-color: rgb(177, 177, 177,.18); font-weight: 500; }
body.blog ul li div.right a.modal-link,
#content-tc ul li div.right a.modal-link { 
  position: absolute; 
  bottom: 5px; 
  right: 5px;
  color: inherit;
  line-height: 10px;
} 

#header { background: #323232; }
#header > .container-fluid { background: #1a1a1a; }

#comments { display: none; }
#D3cpWidget { margin: 0 auto; }
.d3cp_seal_expl_center { height: 52px; }

.post-template-default #content-tc h3 {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: normal
}

p {
  font-weight: 400;
}

#content-tc img.content-image {
  width: 50%;
  margin: 0 10px 10px 0;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#header a.tel,
a.tel {
  font-size: 18px;
  font-weight: 500;
  color: #84b9ce;
}

#header .toggle-off { padding-top: 30px; text-align: right; }
#header .toggle-off i { vertical-align: text-top; }
#header .button-wrap.toggle-off { text-align: left; }
#header .button-wrap.toggle-off i { vertical-align: middle; }
#header .toggle-off.button-wrap.toggle-off { padding-top: 30px; }

.logo_bar { margin-bottom: 5px; border-bottom: none; }

#header .nav ul li a {
  color: #e5e2dd;
  font-weight: 400;
  font-size: 15px;
}
#header .nav li:nth-child(2) ul.sub-menu { min-width: 300px; }

#header .nav ul li.current-menu-item > a,
#header .nav ul li a:hover {
  color: #a3a19e;
}
#header .nav > ul > li.current-menu-item > a,
#header .nav ul li > a:hover {
  border: none;
}
.header .nav ul li:hover > ul li a{ 
  color: #323232!important;
  text-align: center !important;
  padding:7px 0px 7px 10px;
  border-bottom: 1px solid #323232;
}
#header .nav ul li > ul li a:hover{ 
  border-bottom: 1px solid #afafaf;
}
#header .nav ul li > ul li:last-child a:hover{ 
  border-bottom: none;
}


#header .nav ul li { padding: 0 18px; }

#header .nav ul li a i {
  float: right;
  margin: -3px 0px 0 5px;
  font-size: 25px;
  font-weight: normal;
  color: #8dc1d9;
}

button {
  background: #334e63;
  color: #ffffff;
  border: none;
  padding: 10px 40px;
  border-radius: 0px;
  font-size: 15px;
  letter-spacing: .03em;
}
.front-meet-dr button {
  font-weight: 600;
  background: #ffffff;
  color: #82b9d0;
}
.front-meet-dr button i{ vertical-align: text-top;}

#header button { padding: 0px; background-color: transparent; font-weight: bold; color: #84b9ce; }

button:hover { background: #82bcd4; }

body.home .our-services .row div {
  margin-bottom: 20px;
  text-align: center;
  filter: gray;
  filter: grayscale(100%);
}
body.home .our-services .row div:hover {
/*background: rgba(255, 255, 255, .8);*/
  filter: inherit;
/*  filter: grayscale(100%);*/
}






body.home .our-services button {
  background: transparent;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
}

body.home .our-services img { width: 70%; }

#header .cta-buttons {
  padding: 40px 0;
  background: #626262; 
  text-align: center;
}

#header .cta-buttons button {
  padding: 15px 25px;
  min-width: 90%;
  color: #6f6f6f;
  background: #ececeb;
  border: 2px solid #a8a6a5;
  text-transform: uppercase;
}

#header .cta-buttons button i { vertical-align: text-top; }

#header .splash { padding: 0; }
#header .splash img { width: 100%; height: auto; }

/*.home .menu-menu-1-container { margin-bottom: 30px; }*/

.front-splash {
  background: url('../images/bg-front-splash.png') 0 0 no-repeat;
  text-align: right;
}

.front-meet-dr {
  margin-top: 50px;
  background: url('../images/bg-front-meet-dr.png') 0 0 no-repeat;
}

.footer-wp { margin-bottom: 0; }
#vgd-dynamic-footer.container-fluid { padding: 0; }
.footer-meet-dr { position: relative;}
.footer-meet-dr > div {
    position: absolute;
    top: 40%;
    left: 10%;
    text-align: center;
}
.footer-meet-dr h1 { font-size: 45px; font-weight: 600; color: #ffffff; }
.footer-meet-dr button,
button.meet-dr-page {
    background: #ffffff;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 26px;
    padding: 20px;
    letter-spacing: .0;
}
button.meet-dr-page i,
.footer-meet-dr button i { vertical-align: text-top; }

.footer-testimonial {
  margin-bottom: 40px;
}

.front-meet-dr,
.front-splash {
  min-height: 450px;
  background-size: 100%;
}

.front-meet-dr { text-align: center; }

.front-meet-dr h1,
.front-splash h1 {
  font-weight: 600;
  color: #ffffff;
  letter-spacing: .01em;
  font-size: 45px;
  line-height: 50px;
}

.front-splash h1 {
  margin-top: 90px;
}

.front-meet-dr h1 {
  margin-top: 195px;
}

.footer-testimonial h1 {
  margin-bottom: 5px;
  font-size: 35px;
}

.front-meet-dr h2,
.front-splash h2 {
  margin: -5px 0 40px;
  font-family: 'Rasa',serif;
  font-size: 15px;
  color: #ffffff;
}
#sidebar .widget_archive,
.meet-our-staff {
  padding: 20px;
  background: #82bcd4;
}
#sidebar .widget_archive h3 { margin: 0 0 0 10px; padding: 0; }
#sidebar .widget_archive h3,
#content-tc .meet-our-staff h2 {
  color: #ffffff;
  font-family: 'Rasa', serif;
  font-weight: normal;
}
.page-id-23 #content-tc .meet-our-staff h2 {
  text-align: center;
  color: #1e3950;
}

#sidebar .widget_archive ul li,
#content-tc .meet-our-staff ul li {
  color: #334d63;
  list-style-type: none;
  font-weight: normal;
  border: none;
}
#sidebar .widget_archive ul li a,
.meet-our-staff ul li a {
  color: #ffffff;
}
.page-id-23 #content-tc .meet-our-staff ul li {
  display: block;
  float: left;
  width: 33%;
}

.team-profile { margin-bottom: 30px; }
#content-tc .team-profile p { padding-right: 10px !important; }
#content-tc .team-profile h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
}
#content-tc .team-profile a {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-weight: 400;
  color: #82bcd4;
}

.container .slideshow-arrows { margin-bottom: 30px; }
#content-tc .slideshow-arrows h2,
.slideshow-arrow { display: inline-block !important; }

.container .slideshow-arrows .center,.container .ba-slider .center { margin-bottom: 0; }
#content-tc .slideshow-arrows h2 { margin:0 30px 10px; color: #4a4744; }

.slideshow-images { position: relative; height: auto; vertical-align: middle; }
.slideshow-images > div,
.slideshow-images > img {
  display: none;
/*
  position: absolute;
  top: 0;
  left:0;
*/
  width: 100%;
}
.slideshow-images .active {
  display: block;
}

.slideshow-images span { font-style:  italic; font-size: 20px; font-weight: 200;}
.slideshow-arrow i {
  font-size: 32px;
  line-height: 20px;
  cursor: pointer;
}

.ba-slider .row:first-child > div { border-top: 1px solid #4a4744;}
.ba-slider img {
    width: 80%;
    display: block;
    max-width: none;
    margin: 30px auto 5px;
    border: 1px solid #4a4744;
  }

#content-tc h1#smile-gallery-image-title {
  margin: -20px 0 0;
  padding: 0;
  font-size: 35px;
}

.collapse.show { visibility: visible; }
a[data-toggle="collapse"] span:first-child { display: none; }
a[data-toggle="collapse"].collapsed span:first-child { display: inline; }
a[data-toggle="collapse"].collapsed span:last-child { display: none; }


.contact-us-col { padding-left: 18px; }
img.contact-us-img { width: 90%; }
table.contact-us {
  width: 100%;
}
table.contact-us th {
  padding-bottom: 20px;
  vertical-align: text-top;
  font-size: 20px;
  line-height: 15px;
  font-weight: 400;
  background: transparent;
}
table.contact-us td {
  font-size: 15px;
  background: transparent;
}
table.contact-us th,
table.contact-us td { text-align: left; }
table.contact-us th:last-child,
table.contact-us td:last-child { text-align: right; }
.map { margin-top: 40px; vertical-align: top; position: relative; }
.map > div { 
  position: absolute; 
  top: 20px;
  right: 0px;
  width: 40%;
  padding: 20px;
  color: #ffffff;
  background: #4a4744;
}
#content-tc .map > div p:first-child { margin-top: 0; padding-top: 0; }
#content-tc .map > div p:last-child { margin-bottom: 0; padding-bottom: 0; }

.ba-slider .handle {
  color: #143243;
  background: #143243;
}
.ba-slider .handle.ba-draggable:after,
.ba-slider .handle:after {
  width: 30px;
  height: 30px;
  margin: -24px 0 0 -13px;
  line-height: 30px;
  font-size: 20px;
  top: auto;
  bottom: 0px;
  font-weight: 100;
  box-shadow: none;
  border-radius: 0;
  border: none;
  background: #143243;
}

.testimonial-img { margin-bottom: 20px; }

#modal-content img.content-image { margin-right: 10px; max-width: 400px; }

.footer-testimonial div h2 {
  float: left;
  margin-top: 0px;
  width: 50%;
  font-size: 55px;
  font-family: "Rasa", serif;
  font-weight: bold;
  color: #81bbd3;
}

.footer-testimonial div p {
  margin-top: 10px;
  font-size: 16px;
}

.footer-testimonial .testimonial {
  margin-bottom: 20px;
  padding: 20px 30px;
  background: #dfeef5;
}

.footer-testimonial .testimonial i {
  float: left;
  line-height: 15px;
  font-size: 30px;
  border-radius: 15px;
  background: #ffffff;
}

.footer-testimonial .testimonial p {
  float: right;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 85%;
  font-size: 12px;
  font-weight: 400;
  background: transparent;
}
.home .footer-testimonial .testimonial p { font-size: 14px; }
.footer-testimonial .testimonial p:first-of-type { margin-top: -5px; }
.footer-testimonial .testimonial p em { font-weight: 200; }
.footer-wp .discover-services { position: relative; padding-right: 0px; }
.footer-wp .discover-services button {
  position: absolute;
  top: 60%;
  left: -5%;
  width: auto;
  padding: 20px;
}

.container h1 { 
    margin: 60px auto 40px;
    /* font-family: "Rasa",serif; */
    text-align: center;
    color: #4a4744;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
}
#content-tc h1 { display: none; font-size: 35px; }
#content-tc #modal-ready h1 { display: block; } 
#content-tc h1.center { display: block;}
#content-tc h1.title-orange { 
  position: absolute;
  display: block;
  z-index: 1;
  margin-bottom: 0;
  bottom: 0px;
  left: 0px;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 30px;
  font-size: 60px;
  font-family: "Great Vibes", cursive;
  letter-spacing: .05em;
}

.footer-wp .container h1 {
  margin-top: 0px;
  text-align: left;
}
.footer-wp .front-testimonial.container h1 {
  text-align: center;
  margin-top: 50px;
}
.footer-wp .front-testimonial.container h2 {
  width: auto;
  margin: 0px 10px 0 0;
}

.footer { background-color: #000000; color: #6d6d6d; }
.footer .footer-info { padding: 5px 0; text-align: center; font-weight: 400; }
.footer a.tel {
  font-size: inherit;
  color: #6d6d6d;
}
.footer h2 a { color: #ffffff;}
.footer h2 a:hover { text-decoration: none; }


#buddypress div.activity-meta a{
	color: #ffffff;
	
}
#buddypress table.forum tr td.label, #buddypress table.messages-notices tr td.label, #buddypress table.notifications tr td.label, #buddypress table.notifications-settings tr td.label, #buddypress table.profile-fields tr td.label, #buddypress table.wp-profile-fields tr td.label{
	width: 100%;
	color:#333;
  background: transparent;
  padding: 10px;
  font-size: small;
  line-height: normal;
}
#buddypress div.profile h4{
	padding:10px;
}
div#item-nav > div.item-list-tabs ul li{border-right: 1px solid #ddd;}
div#item-nav > div.item-list-tabs#object-nav{
	    border: 1px solid #ddd;
}

div#item-body > div.item-list-tabs#subnav ul li.last{
	    margin-top: 0;
    display: flex;
}

#buddypress div.item-list-tabs#subnav ul li.last > label{
    padding: 7px 10px 2px 5px;
}
div#item-body > div.item-list-tabs#subnav ul li{
	    border-right: 1px solid #ddd;
}
div#item-body > div.item-list-tabs#subnav{
	    border: 1px solid #ddd;
}

#buddypress div.item-list-tabs ul li.last select{
border-top: 0;
height: 2.2rem !important;
font-size: 14px;
border-right: 0;
border-bottom: 0;
padding-right: 20px;
}

.inner-service { margin-top: 0; padding: 0; border: none; }
.new-text,
.section-title {
  float: right;
  width: 60%;
}
.section-title {
  margin-top: 0px;
  padding: 0px 0px 10px;
  line-height: 20px;
  background: none;
  color: #003967;
}
.date-box { margin: 0 0 5px; }
.date-box a {
      color: #4a4744;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}
.box-image {
  float: left;
  width: 40%;
  padding-right: 15px;
}
.cat-box { display: none; }
.new-text { margin-bottom: 20px; }

#sidebar { padding-top: 0; }
#sidebar h3 { 
  text-align: left;
  font-size: 25px;
  font-family: 'Rasa', serif; 
  background: none;
  color: inherit;
}

#sidebar aside {
  box-shadow: none;
  border: none;
}
#sidebar input[type="search"] {
  padding: 10px;
  font-weight: normal;
  font-family: Roboto,sans-serif;
  background: #ebebeb;
}

#sidebar ul li {
  height: 50px;
  overflow: hidden;
  background: none;
  padding-left: 0px;
  list-style-type: square;
  list-style-position: inside;
  font-size: 40px;
  color: #68a2ba;
  border-bottom: 1px solid #68a2ba;
}
#sidebar ul li a{
  font-size: 15px;
  vertical-align: middle;
  font-weight: normal;
  color: #003967;
}

@media (min-width: 1550px) {
  .front-splash { min-height: 600px; }
}

@media screen and (max-width: 720px){
  button { width: 100%; }
  button.meet-dr-page {
    width: 80%;
    font-size: 18px;
}
  
  .footer-meet-dr > div {
    top: auto;
    left: 10%;
    bottom: 0;
  }
  .footer-meet-dr h1 { display: none; }
  .footer-meet-dr button {
    padding: 10px;
    width: auto;
    font-size: 18px;
}    
  #content-tc img.content-image {
    width: 100%;
    margin: 10px auto;
  }
  
  #header .menus {
    position: absolute;
    top: 20px;
    right: 0px;
    width: 100%;
    border: none;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  #header .nav {
    margin-top: 5%;
    padding: 0;
    width: 100%;
  }
  
  #header .nav ul {
    background-color: #ffffff;
  }
  
  #header .nav ul.sub-menu {
    background-color: #e0e9ee;
  }
  
  #header .nav ul li {
    border-top: 1px solid #99abb5;
    text-align: center;
  }
  
  #header .nav ul.sub-menu {
    display: none;
    border-top: 1px solid #99abb5;
  }
  
  #header .nav ul.sub-menu li {
    border-top: none;
  }
  #header .nav ul li {
    padding: 0px !important;
  }
  
  #header .nav ul li a i {
    margin: -12px 17px 0 0;
    font-size: 40px;
    font-weight: bold;
  }

  #header .nav ul li a i.fa-angle-right {
    margin-right: 20px;
  }
  
  #header .nav ul li a {
    padding-left: 10px !important;
    padding-right: 0px !important;
  }
  
  #header .nav ul.sub-menu li a {
    text-align: center;
  }
  
  .toggle a{
    width:100%;
    color:#ffffff;
    background: transparent;
    padding:0 10px;
   font-size:30px;
      text-align: right;
  } 
  
  .toggle a:hover,.toggle a.active{
    color:#ffffff;
  }
  
  .front-meet-dr,
  .front-splash {
    min-height: auto;
  }
  .front-splash {
    background-image: url('../images/bg-front-splash-mobile.png');
  }
  
  .front-meet-dr button {
    padding-bottom: 0;
  }
  
  .front-meet-dr .col-sm-6.col-sm-offset-2 {
    padding-left: 5px;
  }
  
  #content-tc h1 {
    margin-bottom: 20px;
    font-size: 33px;
  }
  
  #content-tc h1.title-orange { 
    font-size: 30px; 
    background: #333;
    width: 100%;
    text-align: center;
    opacity: .8;
  }
  
  body.blog ul.modal-list,
  #content-tc ul.modal-list { width: 100%; }
  
  body.blog section h3 { line-height: normal; }
  
  .front-meet-dr h1,
  .front-splash h1 {
    font-size: 35px;
    line-height: 35px
  }

  .front-splash h1 {
    margin-top: 40px;
  }
  
  .front-splash span.toggle {
    display: inline;
    padding-right: 9px;
  }

  .front-meet-dr h1 {
    margin-top: 64px;
  }


  .front-meet-dr h2,
  .front-splash h2 {
    margin: -5px 0 20px 0;
    font-size: 13px;
  }
  
  .front-splash button {
    margin-top: 15px;
    padding: 10px;
    width: 50%;
  }
  
  #sidebar .widget_archive ul li,
  #content-tc .meet-our-staff ul li {
    display: inline-block;
    width: 45%;
  }
  .page-id-23 #content-tc .meet-our-staff ul li {
    display: block;
    float: left;
    width: 49%;
  }
  
  .contact-us-col { padding-left: 0px; }
  table.contact-us { margin-top: 20px; }
  img.contact-us-img { display: block; margin: 0 auto; width: 100%; }
  table.contact-us th { line-height: 20px; }
  .map > div { 
    position: relative;
    top: 0;
    width: 100%;
  }
  
  #content-tc .slideshow-arrows h2 { margin:0 10px 10px; font-size: 20px; }
  .slideshow-arrow i {
    font-size: 20px;
    line-height: 15px;
}
  .ba-slider .row:first-child > div:last-child { border-top: none; }
  
  body.blog ul li div.left,
  #content-tc ul li div.left { width: 100%; margin-bottom: 10px; }
  
  .ba-slider img {
    width: 100%;
  }
  .no-gutter p { padding: 0 10px; }
  
  #D3cpWidget,
  .d3cp_review_order,
  .d3cp_review_box,
  .d3cp_review_order div,
  .d3cp_review_box div,
  .d3cp_feature_wrap,
  .d3cp_review_seal_wrap { width: auto; overflow: hidden;}
  
  .d3cp_df_seal_widget { height: 75px; }
  .d3cp_seal_expl { margin-left: -80px; }
  
  .footer-testimonial > h1 { text-align: center !important; }
  .footer-testimonial div.div-1 { padding: 0 45px; }
  .footer-testimonial div.div-1 h1 { font-size: 50px; }
  .footer-testimonial div.div-1 h2 { float: none; margin-bottom: 10px; padding-bottom: 0px; width: 100%; }
  .footer-testimonial div.div-1 p { font-size: 18px; }
  .footer-testimonial button { margin-bottom: 20px; }
  .footer-testimonial .testimonial { padding: 20px; }
  .footer-testimonial .testimonial p { width: 80%; font-size: 16px; }
  .footer-wp .discover-services {
    position: relative;
    padding-right: 15px;
    text-align: center;
  }
  .footer-wp .discover-services button {
    left: 0%;
  }
}
